<!DOCTYPE html>
<html>
<head>
    <title>Membuat backgroud 2 di html</title>
    <style>
        body{
            background-color: rgb(50, 228, 204);
           
        }
    </style>
    
</head>
<body>
    
</body>
</html>
{% extends 'base.html'%}

{% block kotak %}
<h1>INI JENIS BATIK YANG DI JUAL</h1>

<table border="1"> 
    <tr>
        <td>No</td>
        <td>Jenis Batik</td>
        <td>Harga</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Batik cap</td>
        <td>Rp.150.000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Batik printing</td>
        <td>Rp.70.000</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Batik tulis madura</td>
        <td>Rp.170.000</td>
    </tr>



</table>
{% endblock kotak %}