<!DOCTYPE html>
<html>
<head>
    <title>Membuat backgroud 1 di html</title>
    <style>
        body{
            background-color: rgb(47, 226, 202);
           
        }
    </style>
    <style>
        .text-justify{
            text-justify: auto;
        }
    </style>
</head>
<body>
    
</body>
</html>
{% extends 'base.html' %}

{% block judul %}
<h1 id="judul">=======FAHRYCOLLECTION======</h1>
    
{% endblock judul %}

{% block kotak %}
<p class="text-justify">Batik merupakan salah satu warisan budaya yang dibanggakan oleh seluruh masyarakat Indonesia. Batik ini biasa biasanya digunakan dalam berbagai kesempatan mulai dari acara formal maupun acara non formal sekaligus.
Saat ini bisnis batik terus mengalami perkembangan termasuk dalam periklanan yang memanfaatkan media sosial. Melalui unggahan konten berupa foto produk atau kata-kata kini banyak orang bisa menemukan motif batik sesuai dengan selera mereka.</p>

{% endblock kotak %}
