<!DOCTYPE html>
<html>
<head>
    <title>Membuat backgroud 3 di html</title>
    <style>
        body{
            background-color: rgb(12, 224, 196);
           
        }
    </style>
    
</head>
<body>
    
</body>
</html>
{% extends 'base.html' %}

{% block judul %}
<h1 id="judul">Fk collecttion</h1>

{% endblock judul %}
{% block kotak %}
    <p> Bisa menerima pessanan seragam DLL </p>
<center>
    <footer>
        <a href="#"> @ copyright muhammad fahry </a>
    </footer>
</center>
{% endblock kotak %}